<p-toolbar class="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        <!-- <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Products</h5>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText type="text" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Code</th>
            <th pSortableColumn="name" style="min-width: 16rem">
                <div class="flex items-center gap-2">
                    Name
                    <p-sortIcon field="name" />
                </div>
            </th>
            <th>Image</th>
            <th pSortableColumn="price" style="min-width: 8rem">
                <div class="flex items-center gap-2">
                    Price
                    <p-sortIcon field="price" />
                </div>
            </th>
            <th pSortableColumn="category" style="min-width: 10rem">
                <div class="flex items-center gap-2">
                    Category
                    <p-sortIcon field="category" />
                </div>
            </th>
            <th pSortableColumn="rating" style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Reviews
                    <p-sortIcon field="rating" />
                </div>
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Status
                    <p-sortIcon field="inventoryStatus" />
                </div>
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td>
            <td style="min-width: 12rem">{{ product.code }}</td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td>
                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" style="width: 64px" class="rounded" />
            </td>
            <td>{{ product.price | currency: 'USD' }}</td>
            <td>{{ product.category }}</td>
            <td>
                <p-rating [(ngModel)]="product.rating" [readonly]="true" />
            </td>
            <td>
                <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity('')" /> -->
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="articleDialog" [style]="{ width: '500px' }" header="Creation Employé" [modal]="true" [closable]="true">
    <form [formGroup]="employeeForm" class="flex flex-col gap-5" (ngSubmit)="onSubmit()">
      
  <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Name</label>
            <input id="name" type="text" pInputText formControlName="name" placeholder="Enter article name" />
            <small class="text-red-500" *ngIf="submitted && employeeForm.get('name')?.invalid"> Name is required. </small>
        </div>
 <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Last Name</label>
            <input id="name" type="lastName" pInputText formControlName="lastName" placeholder="Enter employee lastName" />
            <small class="text-red-500" *ngIf="submitted && employeeForm.get('lastName')?.invalid"> lastName is required. </small>
        </div>
        <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Phone number</label>
            <input id="name" type="text" pInputText formControlName="phone" placeholder="Enter article phone" />
            <small class="text-red-500" *ngIf="submitted && employeeForm.get('phone')?.invalid"> phone is required. </small>
        </div>

    </form>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="onSubmit()" />
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
