<app-component-card title="Default Inputs">
  <div class="space-y-6">

    <div>
      <app-label for="input">Nom </app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Prénom</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">N° Tél</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Pourcentage gain Service</app-label>
      <app-input-field type="text" id="input" />
    </div>

     <div>
      <app-label for="input">Pourcentage gain Article</app-label>
      <app-input-field type="text" id="input" />
    </div>
   
  </div>
</app-component-card>
