<p-toolbar class="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        <!-- <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table [value]="clientList" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"><p-tableHeaderCheckbox /></th>

            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Address</th>

            <th style="min-width: 10rem">Actions</th>
        </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template pTemplate="body" let-item>
        <tr>
            <td><p-tableCheckbox [value]="item" /></td>

            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.address }}</td>

            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="articleDialog" [style]="{ width: '500px' }" header="Add client" [modal]="true" [closable]="true">
    <form [formGroup]="clientForm" class="flex flex-col gap-5" (ngSubmit)="onSubmit()">
        <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Name</label>
            <input id="name" type="text" pInputText formControlName="firstName" placeholder="Enter article name" />
            <!-- <small class="text-red-500" *ngIf="submitted && clientForm.get('name')?.invalid"> Name is required. </small> -->
        </div>
        <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Last Name</label>
            <input id="name" type="text" pInputText formControlName="lastName" placeholder="Enter client last name" />
            <!-- <small class="text-red-500" *ngIf="submitted && clientForm.get('lastName')?.invalid"> lastName is required. </small> -->
        </div>

        <!-- 🔹 Shop Quantity -->
        <div>
            <label for="name" class="block font-bold mb-2">Phone number</label>
            <input id="name" type="text" pInputText formControlName="phone" placeholder="Enter client phone" />
            <!-- <small class="text-red-500" *ngIf="submitted && clientForm.get('phone')?.invalid"> phone is required. </small> -->
        </div>
        <!-- 🔹 Name -->
        <div>
            <label for="name" class="block font-bold mb-2">Address</label>
            <input id="name" type="text" pInputText formControlName="address" placeholder="Enter article adress" />
            <!-- <small class="text-red-500" *ngIf="submitted && clientForm.get('adress')?.invalid"> adress is required. </small> -->
        </div>
    </form>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="addNewClient()" />
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
