<app-component-card title="Default Inputs">
  <div class="space-y-6">
    <div>
      <app-label for="input">Input test</app-label>
      <app-input-field type="text" id="input" />
    </div>
    <div>
      <app-label for="inputTwo">Input with Placeholder</app-label>
      <app-input-field type="text" id="inputTwo" placeholder="info@gmail.com" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <app-label for="input">Input</app-label>
      <app-input-field type="text" id="input" />
    </div>

    <div>
      <!-- <app-date-picker
        id="date-picker"
        label="Date Picker Input"
        placeholder="Select a date"
        (dateChange)="handleDateChange($event)"
      /> -->
    </div>
    <div>
      <!-- <app-time-picker
        id="time-picker"  
        label="Time Select Input"
        placeholder="Select time"
        (timeChange)="onTimeSelected($event)"
      /> -->
    </div>
  </div>
</app-component-card>
